<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBt4rOUEjaWpW1Cs0XJEytHdBr4S7gMRdc</string>
	<key>GCM_SENDER_ID</key>
	<string>1030574573649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.LumoraTests</string>
	<key>PROJECT_ID</key>
	<string>lumora-c0444</string>
	<key>STORAGE_BUCKET</key>
	<string>lumora-c0444.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030574573649:ios:511563cb7255cb38051070</string>
</dict>
</plist>