<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBc9_UHBhhqzdYLbgA6wLihqGrBWuWC7qU</string>
	<key>GCM_SENDER_ID</key>
	<string>300924088756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.Lumora</string>
	<key>PROJECT_ID</key>
	<string>lumoranew-c78ab</string>
	<key>STORAGE_BUCKET</key>
	<string>lumoranew-c78ab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300924088756:ios:b601569656b4e0358802e1</string>
</dict>
</plist>